<%- include('./includes/navbar.ejs') %>

    <div class="container">
        <diw class="row">
            <div class="col">
                <%- include("./includes/blogPost.ejs")  %> 
                <!-- pagination -->
            </div>
        </diw>
    </div>

<%- include("./includes/footer") %> 